In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [25]:
import pandas as pd
customer_master = pd.read_csv('/content/drive/MyDrive/data/customer_master.csv')
customer_master.head(7)

,customer_id,customer_name,registration_date,email,gender,age,birth,pref
0,IK152942,김서준,2019-01-01 0:25,hirata_yuujirou@example.com,M,29,1990-06-10,대전광역시
1,TS808488,김예준,2019-01-01 1:13,tamura_shiori@example.com,F,33,1986-05-20,인천광역시
2,AS834628,김도윤,2019-01-01 2:00,hisano_yuki@example.com,F,63,1956-01-02,광주광역시
3,AS345469,김시우,2019-01-01 4:48,tsuruoka_kaoru@example.com,M,74,1945-03-25,인천광역시
4,GD892565,김주원,2019-01-01 4:54,oouchi_takashi@example.com,M,54,1965-08-05,울산광역시
5,AS265381,김하준,2019-01-01 5:51,kasai_yousuke@example.com,M,69,1949-08-09,서울특별시
6,HD739338,김지호,2019-01-01 5:51,hashiguchi_masaya@example.com,M,45,1974-06-04,대전광역시

In [24]:
import pandas as pd
item_master = pd.read_csv('/content/drive/MyDrive/data/item_master.csv')
item_master.head(7)

  item_id item_name  item_price
0    S001      PC-A       50000
1    S002      PC-B       85000
2    S003      PC-C      120000
3    S004      PC-D      180000
4    S005      PC-E      210000

In [26]:
import pandas as pd
transaction_1 = pd.read_csv('/content/drive/MyDrive/data/transaction_1.csv')
transaction_1.head(7)

  transaction_id   price         payment_date customer_id
0    T0000000113  210000  2019-02-01 01:36:57    PL563502
1    T0000000114   50000  2019-02-01 01:37:23    HD678019
2    T0000000115  120000  2019-02-01 02:34:19    HD298120
3    T0000000116  210000  2019-02-01 02:47:23    IK452215
4    T0000000117  170000  2019-02-01 04:33:46    PL542865
5    T0000000118  120000  2019-02-01 04:36:50    GD372798
6    T0000000119  180000  2019-02-01 05:25:18    IK782104

In [27]:
import pandas as pd
transaction_2 = pd.read_csv('/content/drive/MyDrive/data/transaction_2.csv')
transaction_2.head(7)

  transaction_id   price         payment_date customer_id
0    T0000005113  295000  2019-06-15 07:20:27    TS169261
1    T0000005114   50000  2019-06-15 07:35:47    HI599892
2    T0000005115   85000  2019-06-15 07:56:36    HI421757
3    T0000005116   50000  2019-06-15 08:40:55    OA386378
4    T0000005117  120000  2019-06-15 08:44:23    TS506913
5    T0000005118  210000  2019-06-15 10:14:11    HI754267
6    T0000005119  420000  2019-06-15 12:11:39    PL952460

In [28]:
import pandas as pd
transaction_detail_1 = pd.read_csv('/content/drive/MyDrive/data/transaction_detail_1.csv')
transaction_detail_1.head(7)

   detail_id transaction_id item_id  quantity
0          0    T0000000113    S005         1
1          1    T0000000114    S001         1
2          2    T0000000115    S003         1
3          3    T0000000116    S005         1
4          4    T0000000117    S002         2
5          5    T0000000118    S003         1
6          6    T0000000119    S004         1

In [29]:
import pandas as pd
transaction_detail_2 = pd.read_csv('/content/drive/MyDrive/data/transaction_detail_2.csv')
transaction_detail_2.head(7)

   detail_id transaction_id item_id  quantity
0       5000    T0000004870    S002         3
1       5001    T0000004871    S003         1
2       5002    T0000004872    S001         2
3       5003    T0000004873    S004         1
4       5004    T0000004874    S003         2
5       5005    T0000004875    S002         2
6       5006    T0000004875    S005         1

In [32]:
transaction = pd.concat([transaction_1, transaction_2], ignore_index=True)
transaction.head()

  transaction_id   price         payment_date customer_id
0    T0000000113  210000  2019-02-01 01:36:57    PL563502
1    T0000000114   50000  2019-02-01 01:37:23    HD678019
2    T0000000115  120000  2019-02-01 02:34:19    HD298120
3    T0000000116  210000  2019-02-01 02:47:23    IK452215
4    T0000000117  170000  2019-02-01 04:33:46    PL542865

In [33]:
print(len(transaction_1))
print(len(transaction_2))
print(len(transaction))

5000
1786
6786

In [54]:
transaction_detail = pd.concat([transaction_detail_1, transaction_detail_2], ignore_index=True)
transaction_detail.head()

   detail_id transaction_id item_id  quantity  price payment_date customer_id
0        0.0    T0000000113    S005       1.0    NaN          NaN         NaN
1        1.0    T0000000114    S001       1.0    NaN          NaN         NaN
2        2.0    T0000000115    S003       1.0    NaN          NaN         NaN
3        3.0    T0000000116    S005       1.0    NaN          NaN         NaN
4        4.0    T0000000117    S002       2.0    NaN          NaN         NaN

In [38]:
print(len(transaction_detail_1))
print(len(transaction_detail_2))
print(len(transaction_detail))

5000
2144
7144

In [51]:
transaction_detail_2 = pd.read_csv('/content/drive/MyDrive/data/transaction_2.csv')
transaction_detail=pd.concat([transaction_detail_1,transaction_detail_2], ignore_index=True)
transaction_detail.head()

   detail_id transaction_id item_id  quantity  price payment_date customer_id
0        0.0    T0000000113    S005       1.0    NaN          NaN         NaN
1        1.0    T0000000114    S001       1.0    NaN          NaN         NaN
2        2.0    T0000000115    S003       1.0    NaN          NaN         NaN
3        3.0    T0000000116    S005       1.0    NaN          NaN         NaN
4        4.0    T0000000117    S002       2.0    NaN          NaN         NaN

In [47]:
transaction

      detail_id transaction_id item_id  quantity
0             0    T0000000113    S005         1
1             1    T0000000114    S001         1
2             2    T0000000115    S003         1
3             3    T0000000116    S005         1
4             4    T0000000117    S002         2
...         ...            ...     ...       ...
7139       7139    T0000006894    S004         1
7140       7140    T0000006895    S002         1
7141       7141    T0000006896    S001         2
7142       7142    T0000006897    S002         1
7143       7143    T0000006898    S002         1

[7144 rows x 4 columns]

In [49]:
join_data = pd.merge(transaction_detail, transaction[["transaction_id", "payment_date", "customer_id"]], 
                     on ="transaction_id", how="left")
join_data.head()

KeyError: ignored